

.card-primary{
	opacity: 0.6;
}

.cursor{
	cursor: pointer;
}


#results{
	text-align: center;
}

@media(min-width: 576px){
  .body-font{
    font-size: 35px;
    font-weight: 300;
  }
}

@media(max-width:575px){
  .body-font{
    font-size: 20px;
  }
}

@media(min-width: 1200px){
  .body-font{
    font-size: 25px;
    font-weight: 300;
  }
}